DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=streaming_db

TMDB_API_KEY= "tu_api_key_aqui"
TRAKT_CLIENT_ID = "tu_api_key_aqui"

# Huggingface (solo necesario para subir modelos, la descarga es pública)
HF_TOKEN = hf_tu_token_aqui